@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.container {
  height: 900px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.cover {
  height: 600px;
  width: 600px;
}

.controls {
  background-color: #282828;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.controls button {
  background: none;
  border: 0;
}

.controls svg {
  fill: white;
  width: 50px;
  height: 50px;
}

.controls svg:hover {
  fill: gold;
  cursor: pointer;
}

.player {
  background-color: #282828;
  display: grid;
  height: 250px;
  grid-template-rows: 1.8fr 2fr 1fr;
}

.song-data {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  line-height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song-name {
  font-size: 22px;
  color: white;
}

.song-artist {
  font-size: 20px;
  color: #888;
}

.progress-bar {
  background-color: #282828;
  display: flex;
  justify-content: center;
}

progress {
  accent-color: rgb(255 255 255);
}
